body {
    background: black;
    color: #00eaff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock-box {
    display: flex;
    gap: 40px;
}

.box {
    text-align: center;
}

.box div {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid #00eaff99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: bold;
}

.box p {
    margin-top: 10px;
    font-size: 18px;
}
